body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

canvas {
    display: block;
    margin: auto;
    z-index: -100;
}

canvas:focus {
    outline: none;
}

.splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #eeeeee;
    background: #22222288;
}

.toolbar {
    background: #444;
    padding: 5px 5px;
}

.toolbar button {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 10pt;
    color: #eee;
    text-shadow: #222222;
    text-decoration: none;
    background: none;
    border: none;
    padding: 5px 5px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #444;
    padding: 5px 5px;
    color: #eeeeee;
    font-size: 10px;
    text-align: center;
}

.footer a {
    color: #eeeeee;
    text-decoration: none;

}

.help {
    float: right;
}

.inventory, .player {
    padding-right: 20px;
}

.dialog {
    position: absolute;
    top: 100px;
    left: 100px;
    background: #444;
    width: 500px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12pt;
    color: #eee;
    text-shadow: #222222;
}

.dialog-titlebar {
    padding: 5px 10px;
    font-size: 18pt;
}

.dialog-close {
    float: right;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    background: none;
    font-size: 18pt;
    color: #eee;
    text-shadow: #222222;
    border: none;
    font-weight: bold;
}

.dialog-body {
    clear: both;
    margin: auto;
    padding: 10px;
    background: #666;
    height: 100%;
    min-height: 100px;
}

.dialog-body p {
    padding-bottom: 10px;
}

.clear {
    clear: both;
}

.inventory-item {
    float: left;
}

.inventory-item.equipped {
    background: red;
}

.inventory-item p  {
    text-align: center;
}

.inventory-item img {
    margin: auto;
}

.notices {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    color: #cccccc;
    font-size: 8pt;
    width: 100%;
}

.stats {
    position: absolute;
    color: #eeeeee;
    right: 0;
}